.navbar {
    background-color: #333;
}

.brand {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navbar-toggler {
    border: none;
}

.toggle-btn {
    font-size: 1.5rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #555;
}

.form-control {
    width: 18.75rem;
    max-width: 100%;
}